.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  360px 3cm;
    background: #FFF8CC;
}

.banner h1 {
    position: absolute;
width: 475px;
height: 111px;
left: 78px;
top: 126px;

font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 92px;

color: #000000;
}

.banner h2 {
	position: absolute;
width: 509px;
height: 70px;
left: 78px;
top: 220px;

font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;

color: #000000;
}

.comboBoxMonth select {
	box-sizing: border-box;

position: absolute;
width: 130px;
height: 40px;
left: 1000px;
top: 280px;

background: #FFF8CC;
border: 1px solid #000000;
text-align: center;
font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 37px;

color: #5D5D5A;
  }

.comboBoxMonth select option {
	position: absolute;
width: 124px;
height: 45px;
left: 18px;
top: 13px;

font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 37px;

color: #5D5D5A;
}


.comboBoxYear select {
	box-sizing: border-box;

position: absolute;
width: 130px;
height: 40px;
left: 1178px;
top: 280px;

background: #FFF8CC;
border: 1px solid #000000;
text-align: center;
font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 37px;

color: #5D5D5A;
}

.comboBoxYear select option {
	position: absolute;
width: 79px;
height: 45px;
left: 18px;
top: 13px;

font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 37px;

color: #5D5D5A;
}

.banner .table{
    position: absolute;
    top: 300px;
    width: 90%;
    border-collapse: collapse;

}

.banner .table td,.banner .table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align:center;
    font-family: cursive;
}

.table th{
    background-color: #5D5D5A;
    color: #ddd;
    font-family: cursive;

}

.table tbody tr:nth-child(odd){
    background-color: #FFA45C;
}

#info-popup {
    display: none;
    position: absolute;
width: 610px;
height: 800px;
left: 50%;
top: 50%;
background: #FFA45C;
border-radius: 30px;
transform: translate(-50%, -50%);
}

/* .open-info-popup {
    visibility: visible;
} */

#info-popup .owner {
    position: absolute;
width: 429px;
height: 256px;
left: 36px;
top: 21px;

}

#info-popup .owner h2{
    position: absolute;
width: 353px;
height: 70px;
left: 0px;
top: 0px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;

color: #5D5D5A;
}

#info-popup .owner p1{
    position: absolute;
width: 215px;
height: 35px;
left: 0px;
top: 88px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 25px;
/* identical to box height */


color: #FFFFFF;
}

#info-popup .owner p2 {
    position: absolute;
width: 36px;
height: 35px;
left: 300px;
top: 88px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 25px;
/* identical to box height */


color: #FFFFFF;
}

#info-popup .owner p3{
    
position: absolute;
width: 200px;
height: 35px;
left: 0px;
top: 200px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 25px;
/* identical to box height */


color: #FFFFFF;

}

#info-popup .owner p4 {
    position: absolute;
    width: 72px;
    height: 35px;
    left: 300px;
    top: 200px;
    
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

#info-popup .pet{
    position: absolute;
width: 429px;
height: 256px;
left: 36px;
top: 290px;
}

#info-popup .pet h2{
    position: absolute;
width: 239px;
height: 58px;
left: 0px;
top: 0px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;
/* identical to box height */


color: #5D5D5A;
}

#info-popup .pet p1 {
    position: absolute;
width: 141px;
height: 35px;
left: 0px;
top: 94px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 25px;
/* identical to box height */

color: #FFFFFF;
}

#info-popup .pet p2 {
    position: absolute;
    width: 96px;
    height: 35px;
    left: 300px;
    top: 94px;
    
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

#info-popup .pet p3 {
    position: absolute;
    width: 75px;
    height: 35px;
    left: 0px;
    top: 200px;
    
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

#info-popup .pet p4 {
    position: absolute;
    width: 95px;
    height: 35px;
    left: 300px;
    top: 200px;
    
    font-family: 'Comic Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}



#info-popup .appointment{
    position: absolute;
width: 429px;
height: 256px;
left: 36px;
top: 550px;
}

#info-popup .appointment h2 {
    position: absolute;
width: 270px;
height: 58px;
left: 0px;
top: 0px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;
/* identical to box height */


color: #5D5D5A;
}

#info-popup .appointment p1{
    position: absolute;
width: 221px;
height: 35px;
left: 0px;
top: 94px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 25px;
/* identical to box height */


color: #FFFFFF;
}

#info-popup .appointment p2{
    position: absolute;
width: 70px;
height: 42px;
left: 0px;
top: 200px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 25px;

color: #FFFFFF;
}

#info-popup .appointment p3{
    position: absolute;
width: 70px;
height: 42px;
left: 300px;
top: 200px;

font-family: 'Comic Neue';
font-style: normal;
font-weight: 700;
font-size: 25px;

color: #FFFFFF;
}

/*responsive*/
@media(max-width: 500px){
    .table thead{
        display: none;
    }

    .table, .table tbody, .table tr, .table td{
        display: block;
        width: 100%;
    }

    .table tr{
        margin-bottom: 15px;
    }

    .table td {
        text-align: right;
        padding-left: 50%;
        text-align: right;
        position: relative;
    }

    .table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

button {
	box-sizing: border-box;

position: absolute;
width: 100px;
height: 30px;
left: 1200px;
top: 600px;

background: #FFA45C;
border: 1px solid #000000;


font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;

text-align: center;

color: #5D5D5A;
cursor: pointer;
}

.banner2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:  400px 3cm;
    background: #ffffff;
}

.banner2 h1 {
    position: absolute;
width: 475px;
height: 111px;
left: 78px;
top: 900px;

font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 92px;

color: #000000;
}

.banner2 h2 {
	position: absolute;
width: 509px;
height: 70px;
left: 78px;
top: 1000px;

font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;

color: #000000;
}




.banner2 .table{
    position: absolute;
    top: 1100px;
    width: 90%;
    border-collapse: collapse;

}

.banner2 .table td,.banner2 .table th {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align:center;
    font-family: cursive;
}

.table th{
    background-color: #5D5D5A;
    color: #ddd;
    font-family: cursive;

}

.table tbody tr:nth-child(odd){
    background-color: #FFA45C;
}

.banner2 button {
	box-sizing: border-box;

position: absolute;
width: 100px;
height: 30px;
left: 1280px;
top: 1030px;

background: #FFA45C;
border: 1px solid #000000;


font-family: cursive;
font-style: normal;
font-weight: 700;
font-size: 20px;

text-align: center;

color: #5D5D5A;
cursor: pointer;
}

.titleAdminOrder {
    margin-bottom: 3rem;
    font-family: cursive;
    font-size: 2rem;
}

/* table tr:first-child th:first-child {
    border-top-left-radius: 1rem;
}

table tr:first-child th:last-child {
    border-top-right-radius: 1rem;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 1rem;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 1rem;
} */

.tableHead {
    background-color: #5D5D5A;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #fff;
}

.headerContent {
    padding: 1rem 1rem 1rem 1rem;
}

table td {
    /* padding: 1rem 1rem 1rem 1rem; */
    background-color: #fffcec;
    font-family: cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #4d2a00;
    

}

.productImage {
    max-width: 5rem;
    max-height: 5rem;
    width: auto;
    height: auto;
    border-radius: 50%;
    /* border: #ffa45c 0.1rem solid; */
    /* padding: 2rem; */
    vertical-align: middle;
    margin: 2rem 1rem 2rem 2rem;
}

.orderRow td {
    border-bottom: #e5e3d4 0.01rem solid;

}
