/* body {
    background-color:#FFF8CC;
} */

.banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 365px 3cm;
    background: #FFF8CC;
}

.logout box-icon{
    position: absolute;
    left: 40px;
    top: 150px;
    cursor: pointer;
}

.userProfile .ellipse {

    position: absolute;
    width: 200px;
    height: 200px;
    left: 670px;
    top: 150px;
    border-radius: 50%;

    background: #D9D9D9;

}

.userProfile h2 {
    
    position: absolute;
    width: 400px;
    height: 46px;
    left: -90px;
    top: 210px;
    
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 46px;
    /* identical to box height */
    
    text-align: center;
    
    color: #5D5D5A;
}
    
.notification .ellipse {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 477px;
    top: 225px;
    border-radius: 50%;
    
    background: #FFED7A;
}
    
.notification p {
        position: absolute;
    width: 93px;
    height: 26px;
    left: -10px;
    top: 89px;
    
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #999999;
}
    
.edit-info .ellipse {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 970px;
    top: 225px;
    border-radius: 50%;
    
    background: #FFED7A;
}
    
.edit-info .ellipse box-icon{
    position: absolute;
    left: 14px;
    top: 16px;
    cursor: pointer;
}
    
.edit-info p {
    position: absolute;
    width: 130px;
    height: 26px;
    left: 945px;
    top: 313px;
    
    font-family: 'Tilt Neon', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    
    color: #999999;
}

.basic-info-rect {
    position: absolute;
    width: 430px;
    height: 200px;
    left: 550px;
    top: 490px;
    background: #FFA45C;
    border-radius: 20px;
}

.line {
    position: absolute;
    width: 460px;
    height: 0px;
    left: 20px;
    top: 110px;

    border: 1px solid #959595;
}

p1 {
    position: absolute;
    width: 184px;
    height: 24px;
    left: 25px;
    top: 25px;

    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 24px;

}

p {
    position: absolute;
    width: 262px;
    height: 99px;
    left: 96px;
    top: 77px;

    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;

    color: #000000;

}

.password box-icon {
    position: absolute;
    left: 15px;
    top: 140px;
}

.age box-icon {
    position: absolute;
    left: 8px;
    top: 193px;
}

.gender box-icon {
    position: absolute;
    left: 15px;
    top: 258px;
}

p2 {
    position: absolute;
    width: 262px;
    height: 99px;
    left: 96px;
    top: 140px;

    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;

    color: #000000;

}

.line1 {
    position: absolute;
    width: 460px;
    height: 0px;
    left: 20px;
    top: 160px;

    border: 1px solid #959595;
}

p3 {
    position: absolute;
    width: 262px;
    height: 99px;
    left: 96px;
    top: 200px;


    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;

    color: #000000;

}

.line2 {
    position: absolute;
    width: 460px;
    height: 0px;
    left: 20px;
    top: 210px;

    border: 1px solid #959595;
}

p4 {
    position: absolute;
    width: 262px;
    height: 99px;
    left: 96px;
    top: 260px;

    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;

    color: #000000;

}

p5 {
    position: absolute;
    width: 262px;
    height: 99px;
    left: 96px;
    top: 320px;

    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;

    color: #000000;

}


.pet-info-rect {
    left: 500px;
    top: 450px;
    position: absolute;
    width: 430px;
    height: 380px;
    background: #FFA45C;
    border-radius: 20px;
}

.pet-info-rect .color box-icon{
    position: absolute;
    left: 15px;
    top: 320px;
}

.pet-info-rect .breed box-icon{
    position: absolute;
    left: 15px;
    top: 200px;
}

.pet-info-rect .species box-icon{
    position: absolute;
    left: 15px;
    top: 140px;
}

.petGender box-icon {
    position: absolute;
    left: 15px;
    top: 258px;
}


.privacy-info-rect {
    position: absolute;
    left: 970px;
    top: 450px;
    position: absolute;
    width: 430px;
    height: 150px;
    background: #FFA45C;
    border-radius: 20px;
}

.privacy-info-rect box-icon{
    position: absolute;
    left: 15px;
    top: 75px;
}

.accept-decline {
    position: relative;
    z-index: 9999; /*set a high value for z-index */
    width: 700px;
    height: 350px;
    left: 620px;
    top: -60px;
    background: #FFFFFF;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    visibility: hidden; 
}
    
.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%);
}
    
.accept-decline p {
    position: absolute;
width: 720px;
height: 224px;
left: -10px;
top:30px;

font-family: 'Comic Sans MS';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 58px;
text-align: center;

color: #5D5D5A;
}
    
.btn-yes {
    position: absolute;
width: 200px;
height: 70px;
left: 120px;
top: 245px;

background: #FFA45C;
border-radius: 20px;
border: 1px solid #FFFFFF;
font-family: 'Comic Sans MS';
font-style: normal;
font-weight: 700;
font-size: 35px;
line-height: 40px;
cursor: pointer;

color: #5D5D5A;
}
    
.btn-no {
    position: absolute;
    width: 200px;
    height: 70px;
    left: 392px;
    top: 246px;

    background: #FFF8CC;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    cursor: pointer;

    color: #5D5D5A;
}
